* {
  margin: 0px;
  font-family: "Raleway";
}

body {
  background-color: black;
}

/* -- HEADER -- */

.banner {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  height: 37.5rem;
  text-align: center;
  background-image: url(/assets/imagens/banner.png);
  background-position: 30% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  box-shadow: inset 0 0 1em #33a8db, 0 0 1em rgb(255, 255, 255);
}

.banner-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 5.188rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(49, 168, 221, 0) 100%
  )
}

.logo img {
  width: 15rem;
  top: 1.688rem;
  -webkit-box-shadow: 0px 0px 1em rgb(0, 0, 0);
  background: -moz-radial-gradient()
    (180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 168, 221, 0) 100%);
}

.banner-content h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.938rem;
  background: linear-gradient(180deg, #33a8db 0%, #1472b7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 1rem 0rem;
}

@media only screen and (min-width: 768px) {
  .banner-content p {
    max-width: 30rem;
    display: flex;
  }
}

.banner-content p {
  display: flex;
  color: white;
  margin-bottom: 1.875rem;
  width: 100%;
  margin: 0rem 1rem 2rem;
}

.banner button {
  justify-content: center;
  width: 20.625rem;
  padding: 1.063rem;
  color: #31a8dd;
  border: #31a8dd solid 0.063rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: transparent;
}

button:hover {
  background-color: #1472b7;
  color: white;
  cursor: pointer;
}

/* -- MAIN-- */

#course-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#course-content h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.19em;
  color: #33a8db;
  margin-top: 7.375rem;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  #course-content p,
  #professional-challenges p {
    max-width: 80rem;
  }
}

#course-content p,
#professional-challenges p {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.188rem;
  margin: 2rem;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .modules-list {
    min-width: 100%;
  }
}

.modules-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem 1rem;
  gap: 0.625rem;
}

.modules-list span {
  color: #31a8dd;
  padding-right: 0.313rem;
}

@media only screen and (min-width: 768px) {
  .module {
    display: flex;
    max-width: 50%;
  }
}

.module {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #252525;
  width: 100%;
  height: 3.188rem;
  border-radius: 3.563rem;
  border: rgba(51, 168, 219, 1) 0.063rem solid;
  text-align: center;
  color: white;
}

.module:hover {
  background-color: #000000;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #transform-world {
    display: flex;
    min-width: 100%;
  }
}

#transform-world {
  display: flex;
  background-position: right center;
  background: url(/assets/imagens/woman-code.png) center;
  background-size: cover;
  border: solid 0.063rem #33a8db;
  background-attachment: fixed;
  height: 21.875rem;
  margin-top: 9.375rem;
}

#transform-world p {
  display: flex;
  width: 20rem;
  font-size: 2.125rem;
  padding-left: 1rem;
  background-color: rgb(0, 0, 0), 0.514;
  text-shadow: 0.188rem 0.125rem 0rem #33a8db;
  font-weight: 900;
  color: #ffffff;
  align-items: center;
}

#professional-challenges {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


@media only screen and (min-width: 768px) {
  #professional-challenges img {
    max-width: 50%
  }
}

#professional-challenges img {
  width: 100%;
  margin: 5rem 0rem 0rem;
}

@media only screen and (min-width: 768px) {
  #professional-challenges h2 {
    max-width: 40rem;
  }
}

#professional-challenges h2 {
  text-align: center;
  width: 100%;
  height: 4.75rem;
  margin: 8rem 0rem 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: #33a8db;
}

/* -- FOOTER */

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 6.25rem;
  height: 0.625rem;
  height: 10.625rem;
  background: linear-gradient(
    180deg,
    rgba(51, 168, 219, 0) 0%,
    rgba(51, 168, 219, 0.2) 99.99%,
    rgba(51, 168, 219, 0.2) 100%
  );
  border-top: 1px solid #33a8db;
}

footer img {
  padding: 1.25rem 0rem;
}

footer p {
  color: white;
}

footer p a {
  text-decoration: none;
  color: #31a8dd;
  font-weight: 900;
}
